
body {
    background: gray;
    overflow-x: hidden;
}

.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40%;
    gap: 20px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20vh auto;
    width: 30%;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
}



@media (max-width: 768px) {

    .resultado {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .name {
        width: 90%;
    }

    .resultado2 {
        width: 100%;
        height: auto;
    }


    #container {
        flex-direction: column;
        width: 90%;
        height: 400px;
        height: auto;
    }

    .result {
        width: 50%;
        height: auto
    }
}

h2 {
    color: black;
    font-size: 3rem;
    margin-bottom: 20px;
}

.resultado2 {
    background: white;
    color: black;
    text-wrap: wrap;
    width: 70%;
    height: 80%;
    text-align: center;
}

#container {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 300px;
    gap: 20px;
}

#ResultadoGeral {
    margin: 17vh auto;
}

.result {
    background: white;
    color: black;
    text-wrap: wrap;
    width: 70%;
    height: 80%;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

.material-icons {
    font-size: 24px;
    vertical-align: middle;
}

.incorreto {
    color: red;
}

.destacado {
    background-color: yellow;
}
